<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <!--<link rel="icon" href="../../favicon.ico">-->

    <title>Tutorials</title>

    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

    <!-- Bootstrap  -->
    {% load bootstrap3 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    {% load static %}

    <link href="{% static 'teecha_style.css' %}" rel="stylesheet">

</head>

<body>
<!--=========================================================================-->
<!--                                                              TOP NAVBAR -->
<!--=========================================================================-->
<nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
        <!--------------------------------------------------------------------->
        <!--                                                      NAV BUTTON -->
        <!--------------------------------------------------------------------->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Ronny Restrepo</a>
        </div>

        <!--------------------------------------------------------------------->
        <!--                                                     NAV OPTIONS -->
        <!--------------------------------------------------------------------->
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </div><!-- /.nav-collapse -->
    </div><!-- /.container -->
</nav><!-- /.navbar -->


<!--/////////////////////////////////////////////////////////////////////////-->
<div class="container" id="teecha_home_content_container">
    <!--=====================================================================-->
    <!--                                                        MAIN CONTENT -->
    <!--=====================================================================-->
    <div class="row">
        <div class="col-xs-12 col-sm-9">
            <!----------------------------------------------------------------->
            <!--                                                   JUMBOTRON -->
            <!----------------------------------------------------------------->
            <!--<div class="jumbotron">-->
                <!--<h1>Tutorials</h1>-->
                <!--<p>Here you will find a set of tutorials I have prepared. </p>-->
            <!--</div>-->

            <!----------------------------------------------------------------->
            <!--                                           GRID OF TUTORIALS -->
            <!----------------------------------------------------------------->
            <div class="row">
            {% for module in modules %}
                <div class="col-xs-6 col-lg-4">
                    <h2>{{module.title}}</h2>
                    <p>{{module.description}}</p>
                    <p><a class="btn btn-default"
                          href="{% url 'teecha:module' name=module.name %}"
                          role="button">View Tutorial &raquo;
                    </a></p>
                </div><!--/.col-xs-6.col-lg-4-->
            {% endfor %}
            </div><!--/row-->
            <!-- END OF GRID OF TUTORIALS -->
        </div><!--/.col-xs-12.col-sm-9-->
    </div><!--/row-->

    <!--<hr>-->
    <!--<footer>-->
        <!--<p>&copy; 2016 Ronny Restrepo.</p>-->
    <!--</footer>-->

</div><!--/.container-->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>-->
<!--<script>-->
    <!--window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')-->
<!--</script>-->
<!--<script src="../../dist/js/bootstrap.min.js"></script>-->
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<!--<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>-->

</body>
</html>
