{% extends "main_skeleton.html"%}
{% load staticfiles%}

{% block css_files %}
    <link href="{% static 'teecha_style.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<!--/////////////////////////////////////////////////////////////////////////-->
<div class="container" id="teecha_home_content_container">
    <!--=====================================================================-->
    <!--                                                        MAIN CONTENT -->
    <!--=====================================================================-->
    <div class="row">
        <div class="col-xs-12 col-sm-9">
            <!----------------------------------------------------------------->
            <!--                                                   JUMBOTRON -->
            <!----------------------------------------------------------------->
            <div class="jumbotron">
                <h1>{{title}}</h1>
            </div>
            <!----------------------------------------------------------------->
            <!--                                                 DESCRIPTION -->
            <!----------------------------------------------------------------->
            {{description}}

            <!----------------------------------------------------------------->
            <!--                                             LIST OF LESSONS -->
            <!----------------------------------------------------------------->
            <h2>Lessons</h2>
            <ul>
                {% for lesson in lessons %}
                <li><a href="{% url 'teecha:module_lesson' module=module.name lesson=lesson.name %}">{{lesson.title}}</a> </li>
                {% endfor %}
            </ul>
        </div><!--/.col-xs-12.col-sm-9-->
    </div><!--/row-->

    <!--<hr>-->
    <!--<footer>-->
        <!--<p>&copy; 2016 Ronny Restrepo.</p>-->
    <!--</footer>-->

</div><!--/.container-->
{% endblock %}
