@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700);

:root{
    --menu_color: #F8F8F8;
    --menu_text_color: #5934B2;

}


/*============================================================================*/
/*                                                    BODY AND PARA VARIABLES */
/*============================================================================*/
body {
    font-family: 'Droid Serif', serif;
    color: #333333;
    font-size: 1.4em;
    font-weight: 400;
    line-height: 1.4;
}

p{
    font-family: 'Droid Serif', serif;
    color: #333333;
    font-size: 1.4em;
    font-weight: 400;
    line-height: 1.4;
}


li {
    font-family: 'Droid Serif', serif;
    color: #333333;
    font-size: 1.2em;
    font-weight: 400;
    line-height: 1.3;
}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Droid Serif', serif;
    color: #307EC7;
}

h1 {
    font-weight: 700;
}



/*============================================================================*/
/*                                                                MAIN NAVBAR */
/*============================================================================*/
#main_navbar{
    background-color: var(--menu_color);
    color: var(--menu_text_color);
    border: 0px;
}

#main_navbar .navbar-nav  a{
  color: var(--menu_text_color);
}


nav .active{
    background-color: var(--nav_active_color);
}


#main_navbar .navbar-nav > .active > a{
  color: #ebebeb;
  background-color: var(--nav_active_color);
}



/*============================================================================*/
/*                                                                     TABLES */
/*============================================================================*/
table strong{
font-family: "Roboto", helvetica, arial, sans-serif;
  font-weight: 400;
}

table {
  font-family: "Roboto", helvetica, arial, sans-serif;
  font-size: 1em;
  font-weight: 200;

  text-rendering: optimizeLegibility;

  background: white;
  border-collapse: collapse;

  margin: 30px 0px;
  padding:20px;
  width: 100%;
  animation: float 5s infinite;
}

th {
  /*color:#D5DDE5;;*/
  background:#DDDDDD;
  border-bottom:2px solid #9ea7af;
  border-right: 1px solid #C1C3D1;
  font-size:1em;
  font-weight: 400;
  padding:24px;
  text-align:left;
  vertical-align:middle;
}


tr {
  border-top: 1px solid #C1C3D1;
  border-bottom-: 1px solid #C1C3D1;
  color:#666B85;
  font-size:16px;
  font-weight:normal;
  padding: 10px;

}


tr:first-child {
  border-top:none;
}

tr:last-child {
  border-bottom:none;
}

tr:nth-child(odd) td {
  background:#EBEBEB;
}

tr:hover td {
  background:#9698AC;
  color:#FFFFFF;
}

/*
tr:nth-child(odd):hover td {
  background:#4E5066;
}
*/

tr td, thead tr th{
  padding: 5px 10px;
}

td {
  background:#FFFFFF;
  padding: 20px;
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  font-size:1em;
  border-right: 1px solid #C1C3D1;
}

td:last-child {
  border-right: 0px;
}
