{% extends main_site_template_dir|add:"/skeleton.html" %}
{% load staticfiles%}

{% block css_files %}
    <link href="{% static 'teecha_style.css' %}" rel="stylesheet">
{% endblock %}


{% block content %}
<!--/////////////////////////////////////////////////////////////////////////-->
<!--<div class="container" id="teecha_home_content_container" style="background-color: red;">-->
<div class="" id="teecha_home_content_container">
    <!--=====================================================================-->
    <!--                                                        MAIN CONTENT -->
    <!--=====================================================================-->
    <!--<div class="row" style="background-color: red;">-->
        <!--<div class="col-xs-12 col-sm-9">-->
            <!----------------------------------------------------------------->
            <!--                                                   JUMBOTRON -->
            <!----------------------------------------------------------------->
            <!--<div class="jumbotron">-->
                <!--<h1>Tutorials</h1>-->
                <!--<p>Here you will find a set of tutorials I have prepared. </p>-->
            <!--</div>-->
            <h1>Tutorials</h1>
            <!----------------------------------------------------------------->
            <!--                                           GRID OF TUTORIALS -->
            <!----------------------------------------------------------------->
            <!--<div class="row" style="background-color: red;">-->
            {% for module in modules %}
                <!-- ------------------------------------------------------- -->
                <!--                                                    CELL -->
                <!-- ------------------------------------------------------- -->
                <!--<div class="col-xs-6 col-sm-4 col-lg-3 flip_meta_container">-->
                <div class="flip_meta_container">
                    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                        <div class="card">
                            <div class="front">
                                <!---------------------------- FRONT CONTENT -->
                                <div class="card_content">
                                    {{module.title}}
                                </div> <!-- End of  card-content for front -->
                            </div><!-- End of  front -->
                            <div class="back">
                                <!----------------------------- BACK CONTENT -->
                                <div class="card_content">
                                    <h2>{{module.title}}</h2>
                                    <p>
                                        {{module.description}}
                                    </p>
                                    <p><a class="btn btn-default read_more" href="{% url 'teecha:module' name=module.name %}" role="button">View Tutorial &raquo;</a></p>
                                </div> <!-- End of  card-content for back -->
                            </div> <!-- End of  back-->
                        </div> <!-- End of  card -->
                    </div> <!-- End of  flip-container -->
                </div> <!-- End of flip_meta_container -->
            {% endfor %}
            <!--</div>&lt;!&ndash;/row&ndash;&gt;-->
            <!-- END OF GRID OF TUTORIALS -->
        <!--</div>&lt;!&ndash;/.col-xs-12.col-sm-9&ndash;&gt;-->
    <!--</div>&lt;!&ndash;/row&ndash;&gt;-->

    <!--<hr>-->
    <!--<footer>-->
        <!--<p>&copy; 2016 Ronny Restrepo.</p>-->
    <!--</footer>-->

</div><!--/.container-->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>-->
<!--<script>-->
    <!--window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')-->
<!--</script>-->
<!--<script src="../../dist/js/bootstrap.min.js"></script>-->
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<!--<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>-->
{% endblock %}